/* first */
.first__wrapper {
  gap: 40px;
}

.main-title_vr {
  margin-bottom: 20px;
}

.first__price {
  align-self: flex-start;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
}

.first__inform {
  flex-direction: column;
  justify-content: center;
  flex: 1 1 800px;
  min-height: 660px;
}

.first__descr_1200 {
  display: none;
}

.first__descr {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
}

.first__descr:not(:last-child) {
  margin-bottom: 20px;
}

.first__bg {
  flex: 1 1 800px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.first__bg_solar {
  background-image: url("../img/expeditions-bg-solar.png");
  background-position: left;
}

.first__bg_scale {
  background-image: url("../img/expeditions-bg-scale.png");
}

.first__btn {
  align-self: flex-start;
  padding: 15px 40px;
  border-radius: 12px;
  border: 2px solid #6843b0;
  font-weight: 700;
  font-size: 20px;
  color: #6843b0;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}



.first__btn:focus {
  outline: none;
}

.first__btn:focus-visible {
  border: 3px solid #280075;
}

.first__btn:hover {
  color: #fff;
  background-color: #6843b0;
  border-color: #6843b0;
}

.first__btn:active {
  color: #fff;
  background-color: #280075;
  border-color: #280075;
}



.worlds__notice {
  max-width: 940px;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
}

/* articles */
.articles {
  padding-bottom: 100px;
}

.articles__list {
  flex-wrap: wrap;
  gap: 40px;
}

.articles__item {
  width: calc((100% - 40px) / 2);
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #cacaca;
}

.articles__inform {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 45px;
}

.articles__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.articles__descr {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.articles__link {
  padding: 15px 30px;
  border-radius: 12px;
  border: 2px solid #6843b0;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #6843b0;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}



.articles__link:focus {
  outline: none;
}

.articles__link:focus-visible {
  border: 3px solid #280075;
}

.articles__link:hover {
  color: #fff;
  background-color: #6843b0;
  border-color: #6843b0;
}

.articles__link:active {
  color: #fff;
  background-color: #280075;
  border-color: #280075;
}



.articles__bg {
  flex: 0 0 33%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.articles__bg_1 {
  background-image: url("../img/articles1.png");
}
