:root {
  --body-bgcolor: #fff;
  --text-color: #2a2a2a;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --purple: #6843b0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: Montserrat;
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  max-width: 1920px;
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  background-color: var(--body-bgcolor);
}

/* glob */
.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-offset {
  padding: 50px 0;
}

.container {
  padding: 0 140px;
}

.main-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 70px;
  line-height: 84px;
}

.section__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 42px;
  line-height: 62px;
}

.gradient-text {
  background: linear-gradient(
    90deg,
    rgba(104, 67, 176, 1) 0%,
    rgba(87, 0, 255, 1) 51.99999809265137%,
    rgba(40, 0, 117, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* header */
.header {
  padding: 28px 0;
  border-radius: 0 0 30px 30px;
  box-shadow: 0px 5px 40px 0px var(--box-shadow-color);
  font-weight: 600;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
  font-size: 32px;
  line-height: 39px;
}

.header__list {
  gap: 80px;
  font-size: 20px;
}

.header__item:last-child {
  padding-right: 91px;
}



.header__link:focus {
  outline: none;
}

.header__link:focus-visible {
  border-radius: 2px;
  outline-offset: 5px;
  outline: 2px solid #6843b0;
}

.header__link {
  position: relative;
  transition: color 0.3s ease;
}

.header__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  border-radius: 2px;
  background-color: #6843b0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header__link:hover::before {
  opacity: 1;
}

.header__link:active {
  color: #6843b0;
}



.checkbox {
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__figure {
  position: relative;
}

.checkbox__figure::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 91px;
  height: 44px;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid #cacaca;
  transition: border-color 0.3s ease;
}

.checkbox__figure::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -3px;
  left: 7px;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23280075'/%3E%3Cg clip-path='url(%23clip0_88_14)'%3E%3Cpath d='M11.3407 22.4869C15.4755 24.5079 20.4659 22.7941 22.4869 18.6593C22.6562 18.3128 22.165 18.0018 21.8409 18.2107C20.2993 19.2046 18.2906 19.3909 16.5226 18.5268C13.8348 17.2132 12.721 13.9695 14.0346 11.2818C14.8988 9.51368 16.5982 8.42669 18.4251 8.26379C18.8091 8.22954 19.0056 7.68235 18.6592 7.51304C14.5243 5.49207 9.53396 7.20577 7.51299 11.3407C5.49205 15.4756 7.20573 20.4659 11.3407 22.4869Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_88_14'%3E%3Crect width='20' height='20' fill='white' transform='translate(10.4067 1.62451) rotate(26.0473)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  transition: left 0.4s ease, background-image 0.3s ease;
}

.checkbox__input:checked + .checkbox__figure::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -3px;
  left: 54px;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%236843B0'/%3E%3Cg clip-path='url(%23clip0_88_15)'%3E%3Cpath d='M15.0002 19.6667C17.5775 19.6667 19.6668 17.5774 19.6668 15C19.6668 12.4227 17.5775 10.3334 15.0002 10.3334C12.4228 10.3334 10.3335 12.4227 10.3335 15C10.3335 17.5774 12.4228 19.6667 15.0002 19.6667Z' fill='white'/%3E%3Cpath d='M15 6.33337V8.33337' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M15 21.6666V23.6666' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M23.6665 15H21.6665' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M8.3335 15H6.3335' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M21.1279 8.87195L19.7139 10.2859' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M10.2861 19.714L8.87207 21.128' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M21.1279 21.128L19.7139 19.714' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M10.2861 10.2859L8.87207 8.87195' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_88_15'%3E%3Crect width='20' height='20' fill='white' transform='translate(5 5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.checkbox__input:checked + .checkbox__figure::before {
  border: 1px solid #cacaca;
}

.checkbox__input:active + .checkbox__figure::before {
  border-width: 3px;
}

.checkbox__input:focus-visible + .checkbox__figure::before {
  background-color: #aa7eff;
}

.checkbox__input:hover + .checkbox__figure::before {
  border-color: #6843b0;
}





/* footer */
.footer {
  padding: 100px 0;
  background: linear-gradient(94.91deg, #1D0054 0%, #000000 114.16%);
  color: #fff;
}

.footer__container {
  align-items: center;
}

.footer__logo {
  margin-right: 84px;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
}

.footer__wrapmedia {
  display: none;
}

.footer__nav {
  margin-right: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.footer__list {
  gap: 50px;
}



.footer__link {
  position: relative;
  transition: color 0.3s ease;
}

.footer__link:focus {
  outline: none;
}

.footer__link:focus-visible {
  border-radius: 2px;
  outline-offset: 5px;
  outline: 2px solid #fff;
}

.footer__link_nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer__link_nav:hover::before {
  opacity: 1;
}

.footer__link_nav:active {
  color: #6843b0;
}



.footer__link_social {
  display: inline-block;
}

.footer__link_social:not(:last-child) {
  margin-right: 40px;
}



.footer__social path {
  transition: fill 0.3s ease;
}

.footer__link_social:hover .footer__social path {
  fill: #9978d8;
}

.footer__link_social:active .footer__social path {
  fill: #6843b0;
}
